
{% extends 'technician/base.html' %}
{% load static %}

{% block content %}

   

    <!-- Main Section -->
    <main class="home">
     
        <div class="container container--narrow" style="text-align: center; border-bottom:1px ;">
          
            
            <h2 style="color: black;">Recent Activities</h2>

         
          </div>
       
      
    
      <!-- Search Result: DevList -->
      <section class="devlist">
        <div class="container">
          <div class="grid grid--three">

            {% for task in tasks %}
            <div class="column card">
              <div class="dev">
                <a href="{% url 'detail' task.id %}" class="card__body">
                  <div class="dev__profile">
                    
                    <div class="dev__meta">
                      <h3>{{task.customer}}</h3>
                      <h5>{{task.form_name}}</h5>
                    </div>
                  </div>
                  <p class="dev__info">
                    {{ task.short_description|truncatechars:200}}                 </p>
                  <div class="dev__skills">
                    <span class="tag tag--pill tag--main">
                      <small>Hardware Problem</small>
                    </span>
                   
                    {% if not task.fixed and not task.reviewed %}
                    <span class="tag" style="background-color: rgb(209, 60, 60);">
                      <small>New Task</small>
                    </span>
                  {% elif task.fixed and not task.reviewed %}
                    <span class="tag" style="background-color: rgb(231, 120, 17);">
                      <small>Pending</small>
                    </span>
                  {% else %}
                    <span class="tag" style="background-color: rgb(78, 231, 17);">
                      <small>Fixed</small>
                    </span>
                  {% endif %}
                  
                     
                   
                  </div>
                </a>
              </div>
            </div>
         {%endfor%}
      
           
          
              
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="pagination">
        <ul class="container">
          
         
          <li><a href="{% url 'allTasks' %}" class="btn">More &#10095;</a></li>
        </ul>
      </div>
    </main>
{% endblock%}