{% extends 'technician/base.html' %}
{% load static %}

{% block content %}
  <!-- Main Section -->
  <main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{% static 'images/download.png' %}" />
              <h2 class="dev__name">{{single_task.customer}}</h2>
              <p class="dev__title">{{single_task.customer.phone_number}}</p>
              <p class="dev__location">{{single_task.customer.department}}, {{single_task.customer.campus}}</p>
            
            
            </div>
          </div>
        </div>


        
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">Details</h3>
            <p class="devInfo__about">
              {{ single_task.short_description}}  
            </p>
          </div>



   
       
            <main class="formPage my-xl">
              <h3 class="devInfo__title">Fill out the Form Below</h3>
     
            <div class="formWrapper">

              <form class="form" action="{% url 'isFixed' single_task.id %}" method="POST">
{% csrf_token %}
                <!-- Textarea -->
                <div class="form__field">
                  <label for="formInput#text">Identified Problem Description </label>
                  <textarea class="input input--textarea" name="short_description" id="formInput#textarea" placeholder="Description..."></textarea>
                </div>
              
                <div class="form__field">
                  <label for="formInput ">Is Fixed: </label>
                  <select class="input input--text" name="is_fixed" onchange="toggleTextareas()">
                    <option value="option1">None</option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                  </select>
                </div>
              
                <div class="form__field" id="reasonNotFixed" style="display:none;">
                  <label for="formInput#text">Fill the reason why it is not fixed </label>
                  <textarea 
                  class="input input--textarea" name="reason" id="formInput#textarea" placeholder="Description..."></textarea>
                </div>
              
                <div class="form__field" id="alternativeSolution" style="display:none;">
                  <label for="formInput#text">Suggest Alternative Solution </label>
                  <textarea class="input input--textarea" name="solution" id="formInput#textarea" placeholder="Description..."></textarea>
                </div>
              
                <input class="btn btn--sub btn--lg my-md" type="submit" value="Submit" />
              
              </form>
          </div>
       
            </main>
           
        
        
        </div>
      </div>
    </div>
  </main>


  <script>
    function toggleTextareas() {
      var selectElement = document.querySelector('select');
      var reasonNotFixed = document.getElementById('reasonNotFixed');
      var alternativeSolution = document.getElementById('alternativeSolution');
  
      if (selectElement.value === 'False') {
        reasonNotFixed.style.display = 'block';
        alternativeSolution.style.display = 'block';
      } else {
        reasonNotFixed.style.display = 'none';
        alternativeSolution.style.display = 'none';
      }
    }
  </script>
{%endblock%}