<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 - Page Not Found</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.2/css/uikit.min.css" />
  <style>
    body {
      background-color: #f0f0f0; /* Set background color */
      color: #333; /* Set text color */
    }
    .error-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh; /* Set full height of the viewport */
    }
    .error-message {
      font-size: 100px; /* Large font size */
      font-weight: bold; /* Bold text */
      margin-right: 20px; /* Add space between number and text */
    }
  </style>
</head>
<body>
    <nav class="uk-navbar-container uk-background-secondary" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="{% url 'home' %}">
                <img src="{% static 'images/favicon.PNG' %}" width="30" height="30" alt="logo"> <!-- Add your logo image here -->
                <b>Hawaasa University ICT Coordinator Office</b>  
            </a>
        </div>
      </nav>

<!-- Forbidden (404) Page Content -->
<div class="error-container">
  <div class="error-message">404</div>
  <div>
    <h1>Page Not Found</h1>
    <p>The page you are looking for is not found or you don't have a permission to access it.\n 
        Possible Causes:
        <li>Check whether Your account is activated by a super admin.</li>
        <li>Check whether you have been banned by your admin.</li>
        <li>Check whether you are accessing the correct page based on your previlage.</li>
    </p>
  </div>
</div>

</body>
</html>