{% load static %} {% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Icon - IconMonster -->
    <link
      rel="stylesheet"
      href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"
    />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    <title>MAINTENANCE FORM</title>
  </head>

  <body>
    <style>
      .form {
        display: flex;
        flex-direction: column;
      }

      .form label {
        display: inline-block;
        margin-bottom: 5px;
      }
    </style>
    <main class="formPage my-xl">
      <div class="content-box">
        <div class="formWrapper">
          <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
          <br />

          <form
            class="form"
            method="POST"
            action="{% url 'maintenance_form' %}"
          >
            {%csrf_token%}

            <div class="form__field">
              <label for="formInput#text">Form Name </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="form_name"
                placeholder="Enter text"
              />
            </div>

            <!-- Input:Text -->
            <fieldset>
              <div class="form__field">
                <label for="computer">Computer:</label>
                <input
                  type="radio"
                  id="computer"
                  name="device_problem"
                  value="computer"
                />

                <label for="printer">Printer:</label>
                <input
                  style="margin: 10px"
                  type="radio"
                  id="printer"
                  name="device_problem"
                  value="printer"
                />

                <label for="scanner">Scanner:</label>
                <input
                  type="radio"
                  id="scanner"
                  name="device_problem"
                  value="scanner"
                />

                <label for="photocopier">Photocopier:</label>
                <input
                  type="radio"
                  id="photocopier"
                  name="device_problem"
                  value="photo_copy"
                />

                <label for="others">Others:</label>
                <input
                  type="radio"
                  id="others"
                  name="device_problem"
                  value="others"
                />
              </div>
            </fieldset>

            <div class="form__field">
              <label for="formInput#text">Short Description: </label>

              <textarea
                class="input input--text"
                id="formInput#text"
                type="text"
                name="short_description"
                placeholder="Enter text"
              >
              </textarea>
            </div>

            <div class="form__field">
              <label for="is_goverment">Is goverment</label>
              <input
                type="radio"
                id="is_goverment"
                name="is_goverment"
                value="is_goverment"
              />
            </div>

            <input
              class="btn btn--sub btn--lg my-md"
              type="submit"
              value="Submit"
            />
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
