{% load static %} {% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Icon - IconMonster -->
    <link
      rel="stylesheet"
      href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"
    />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    <title>MAINTENANCE FORM</title>
  </head>

  <body>
    <!-- Header Section -->

    <!-- Main Section -->
    <main class="formPage my-xl">
      <div class="content-box">
        <div class="formWrapper">
          <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
          <br />

          <form class="form" method="POST" action="{% url 'network_form' %}">
            {% csrf_token%}
            <!-- Input:Text -->
            <div class="form__field">
              <label for="formInput#text">Form Name: </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="form_name"
                placeholder="Form Name"
              />
            </div>

            <div class="form__field">
              <h5 class="header__logo">Choose Type of Network Problem</h5>
              <label for="slow_internet_connection"
                >Slow Internet Connection:</label
              >
              <input
                type="radio"
                id="slow_internet_connection"
                name="type_of_network_problem"
                value="slow_internet_connection"
              />

              <label for="network_connectivity_issues"
                >Network Connectivity Issues:</label
              >
              <input
                style="margin: 10px"
                type="radio"
                id="network_connectivity_issues"
                name="type_of_network_problem"
                value="network_connectivity_issues"
              />

              <label for="wi_fi_connection_problems"
                >Wi-Fi Connection Problems:</label
              >
              <input
                type="radio"
                id="wi_fi_connection_problems"
                name="type_of_network_problem"
                value="wi_fi_connection_problems"
              />

              <label for="network_outage">Network Outage:</label>
              <input
                type="radio"
                id="network_outage"
                name="type_of_network_problem"
                value="network_outage"
              />

              <label for="others">Others:</label>
              <input
                type="radio"
                id="others"
                name="type_of_network_problem"
                value="others"
              />
            </div>

            <div class="form__field">
              <h8 class="header__logo"
                >Have you tried any Troubleshooting Steps
              </h8>
              <label for="reset_network_settings">Reset network settings:</label>
              <input type="checkbox" id="reset_network_settings" name="reset_network_settings" value="True">

              <label for="checked_network_cables">Checked network cables:</label>
              <input type="checkbox" id="checked_network_cables" name="checked_network_cables" value="True">

              <label for="restarted_computer_device">Restarted computer/device:</label>
              <input type="checkbox" id="restarted_computer_device" name="restarted_computer_device" value="True">

              <label for="rebooted_modem_router">Rebooted modem or router</label>
              <input type="checkbox" id="rebooted_modem_router" name="rebooted_modem_router" value="True">

            <div class="form__field">
              <label for="formInput#text">Short Description: </label>

              <textarea
                class="input input--text"
                id="formInput#text"
                type="text"
                name="short_description"
                placeholder="Enter text"
              >
              </textarea>
            </div>

            <div class="form__field">
              <label for="formInput#text">Aditional comment: </label>

              <textarea
                class="input input--text"
                id="formInput#text"
                type="text"
                name="aditional_comment"
                placeholder="Enter text"
              >
              </textarea>
            </div>

            <!-- Input:Text -->
            <!-- <div class="form__field">
              <label for="formInput#text">Text Field: </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="text"
                placeholder="Enter text"
              />
            </div> -->

            <!-- Input:Text -->
            <!-- <div class="form__field">
              <label for="formInput#text">Text Field: </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="text"
                placeholder="Enter text"
              />
            </div> -->
            <input
              class="btn btn--sub btn--lg my-md"
              type="submit"
              value="Submit"
            />
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
