{% load static %} {% include 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="{% static 'images/favicon.ico' %}"
      type="image/x-icon"
    />
    <!-- Icon - IconMonster -->
    <link
      rel="stylesheet"
      href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css"
    />
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    <title>MAINTENANCE FORM</title>
  </head>

  <body>
    <!-- Header Section -->

    <!-- Main Section -->
    <main class="formPage my-xl">
      <div class="content-box">
        <div class="formWrapper">
          <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
          <br />

          <form class="form" method="POST" action="{% url 'software_form' %}">
            {% csrf_token%}
            <!-- Input:Text -->
            <div class="form__field">
              <label for="formInput#text">Form Name: </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="form_name"
                placeholder="Form Name"
              />
            </div>

            <div class="form__field">
              <label for="formInput#text">Software Name: </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="software_name"
                placeholder="software_name"
              />
            </div>

            <div class="form__field">
              <label for="formInput#text">Version: </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="version"
                placeholder="version"
              />
            </div>

            <div class="form__field">
              <label for="formInput#text">Operating System:</label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="operating_system"
                placeholder="operating_system"
              />
            </div>


            <div class="form__field">
              <h8 class="header__logo"
                >Please select the category that best describes your software issue:
              </h8>
              <label for="installation_setup">Installation/Setup:</label>
              <input type="checkbox" id="installation_setup" name="installation_setup" value="True">

              <label for="performance_speed">Performance/Speed:</label>
              <input type="checkbox" id="performance_speed" name="performance_speed" value="True">

              <label for=" functionality_bugs"> Functionality/Bugs:</label>
              <input type="checkbox" id="functionality_bugs" name="functionality_bugs" value="True">

              <label for=" compatibility_integration"> Compatibility/Integration:</label>
              <input type="checkbox" id="compatibility_integration" name="compatibility_integration" value="True">

              <label for=" security_vulnerability"> Security/Vulnerability:</label>
              <input type="checkbox" id="security_vulnerability" name="security_vulnerability" value="True">

            <div class="form__field">
              <label for="formInput#text">Short Description: </label>

              <textarea
                class="input input--text"
                id="formInput#text"
                type="text"
                name="short_description"
                placeholder="Enter text"
              >
              </textarea>
            </div>

            <div class="form__field">
              <label for="formInput#text">Aditional comment: </label>

              <textarea
                class="input input--text"
                id="formInput#text"
                type="text"
                name="aditional_comment"
                placeholder="Enter text"
              >
              </textarea>
            </div>

            <!-- Input:Text -->
            <!-- <div class="form__field">
              <label for="formInput#text">Text Field: </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="text"
                placeholder="Enter text"
              />
            </div> -->

            <!-- Input:Text -->
            <!-- <div class="form__field">
              <label for="formInput#text">Text Field: </label>
              <input
                class="input input--text"
                id="formInput#text"
                type="text"
                name="text"
                placeholder="Enter text"
              />
            </div> -->
            <input
              class="btn btn--sub btn--lg my-md"
              type="submit"
              value="Submit"
            />
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
